<html>
    <body>
        <H2> At <%= year %> - <%= month %> - <%= day %> - <%= hour %> : <%= minute %> in <%= venue %>. You have this event: <%= event %> </H2> <br>
	<H2> Details: <%= detail %><H2><br><br>
        <a href="/home">Back to home</a> <br>
	<a href="/search">Back to search</a>
    </body>
</html>